<!DOCTYPE html>
<html ng-app>
<head>
  <title>#MADlibs</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>

  <form>
    Subject <input ng-model="subject" placeholder="person/place/thing"></input> <br />
    vegetable: <input ng-model="vegetable" placeholder="vegetable"></input> <br />
     <input ng-model="vegetable" placeholder="vegetable"></input> <br />
    Username: <input ng-model="username" placeholder="Username"></input> <br />
    Username: <input ng-model="username" placeholder="Username"></input> <br />
    Username: <input ng-model="username" placeholder="Username"></input> <br />
    Username: <input ng-model="username" placeholder="Username"></input> <br />
    Username: <input ng-model="username" placeholder="Username"></input> <br />
    Username: <input ng-model="username" placeholder="Username"></input> <br />
    Username: <input ng-model="username" placeholder="Username"></input> <br />
  </form>

  <h3>When {{ subject }} married {{ vegetable }}</h3>
  <p>It was love at first sight when {{ subject }} found {{ vegetable }} on the plate. </p>

</body>
</html>